body {
    min-width: 350px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

textarea {
    overflow-y: auto !important;
    resize: none !important;
    height: 185px !important;
    padding: .8rem 0 .8rem 0 !important;
}

.input-field label {
    top: .3em !important;
}

.container {
    margin-top: 2rem;
}

.dropdown-content {
  min-width: 40px !important;
}

#button-container {
    position: relative;
    ;
    text-align: center;
    width: 100%;
    height: 100%;
}
#selverbocity{
    text-align: center;
    margin-left: 1em;
}
#verbocity {
    text-align: right;
    display: inline-block;
    padding-top: 10px;
    margin-top: 0px;
    width: 3em;
    float: left;
    top: 76%;
/*    text-align: left!important;
*/}

#submitbtn1,
#disabledbutton {
    height: 46px;
    line-height: 50px;
    position: absolute;
    width: 150px;
    margin: 0 auto;
    left: 20%;
    right: 0;
    display: inline-block;
}

#verbocity {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 50%;
}

#verbocity-label {
  left: -0.5rem;
}

#disabledbutton {
    width: 150px;
}

#button-details,
#submit-text {
    position: relative;
    line-height: 46px;
}

#submit-text {
    font-family: Roboto !important;
    font-size: 1.4em !important;
}

#loader {
    position: absolute;
    top: 5px;
    left: 37%;
    margin: 0 auto;
    display: none;
}
