body {
  width: 300px;
  max-width: 100%;
  height: 50px;
  max-height: 50px;
  overflow:hidden;
  position: relative;
  vertical-align:middle;
}

textarea {
  overflow-y: scroll !important;
  resize: none !important;
  height: 100px !important;
}

.container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
