<!DOCTYPE html>
<html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
<script src="modules/angular.min.js"></script>
<script src="pow.min.js"></script>
<!-- jQuery -->
<script src="modules/jquery-3.1.1.min.js"></script>
<!-- Materialize CSS & JS -->
<link rel="stylesheet" href="modules/materialize/css/materialize.min.css">
<script src="modules/materialize/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- CSS & JS -->
<link rel="stylesheet" href="popup.css">
<script src="popup.js"></script>


<body ng-app="pow-demo" ng-controller="AudioCtrl">
    <div class="container">
        <div class="center-align">
            <div >
                <div id="textcontainer" class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Enter Text to Summarize</label>
                </div>
                <!-- Submit button -->
                <div id="button-container col s12">
                  <a id="submitbtn1" class="btn waves-effect waves-light light-blue">
                    <span id="submit-text">Submit</span>

                    <!-- Text and icon -->
                      <i id="button-details" class="material-icons right">send</i>
            </a>

                <a id="angularupdate" ng-click="update()"></a>
                  <a ng-click="update()" id="disabledbutton" class="btn disabled">
                    <!-- Preloader spinner, blue red, yellow -->
                    <div id="loader" class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>

                      <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                      <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </a>

                  <!-- Audio player -->
                  <div >
                      <pow data-array-buffer="data.arrayBuffer"></pow>
                      <script src="app.js"></script>
                      <script src="controller.js"></script>
                      <script src="factory.js" charset="utf-8"></script>
                  </div>
                </div>
            </form>
    </div>
</body>

</html>
